html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	resize: none;
}

.fields {
	display: inline-block;
	margin-top: 100px;
}


#header {
	position: absolute;
	width: 50%;
	background-color: #0066cc;
	color: white;
	padding-left: 10px;
}

#title {
	font-weight: bold;
}

#locationField {
	position: absolute;
	margin-left: 20px;
	margin-top: 60px;
}

#placesField {
	position: relative;
	margin-left: 20px;

}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*chrome*/
    select {
        height: 21px;
    } 
}

#btn {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#map {
	height: 100%;
	width: 50%;
	right: 0px;
	top: 0px;
	position: absolute;
	
}

#resultsTitle {
	margin-top: 75px;
	position: relative;
	width: calc(50% - 20px);
	background-color: red;
	font-weight: bold;
	color: white;
	padding: 10px;
	margin-bottom: 0px;
}


#results {
	list-style: none;
	padding: 0;
	padding-top: 4px;

}

#markerList {
	list-style: none;
	width: 10%;
	padding: 20px;
	margin: 0;
}


.li_address {
	
	padding-bottom: 10px;

}

.place-icon {

  height: 35px;
  width: 20px;
  vertical-align: middle;
  display: block;
  padding-bottom: 12px;	
  margin-bottom: 175px;
  cursor: pointer;

}
.areaPost {
	display: inline-block;
	margin: 0;
	float: left;
}

#markersPost {
	width: 75px;
}

#resultsPost{
	width: 300px;
	
}

#noResults {
	position: absolute;
	margin-top: 100px;
	font-size: 3em;
	left: 20px;
	display: none;
}

.miss {
	position: absolute;
	margin-top: 100px;
	font-size: 3em;
	left: 20px;
	display: none;
}

#img {
	padding-bottom: 22px;
	padding-right: 10px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    height: 100%;
}